body{
margin:0;
padding:0;
background:url("https://img.wallpapersafari.com/desktop/1680/1050/3/69/Fv1c5Q.jpg");
background-size:cover;
background-repeat: no-repeat;
font-family:sans-serif;
background-attachment: fixed;
background-position: center;
}
.lgpg
{
width:320px;
height:420px:
background:#000;
color:#fff;
top:50%;
left:50%;
position:absolute;
transform:translate(-50%,-50%);
box-sizing:border-box;
padding:70px 30px;
}
.lgpg p
{
margin:0;
padding:0;
font-weight:bold;
}
.lgpg input
{
width:100%;
margin-bottom:20px;
}

.lgpg input[type="text"],input[type="password"]
{
border:none;
border-bottom:1px solid #fff;
background:transparent;
outline:none;
height:40px;
font-size:16px;
color:white;
}

.lgpg input[type="submit"]
{
border:none;
color: #fff;
background:#fb2525;
outline:none;
height:40px;
font-size:18px;
font-weight:bold;
border-radius:20px;
}
.lgpg input[type="submit"]:hover
{
cursor:pointer;
background:transparent;
color:white;
font-size:28px;
}
.lgpg a
{
text-decoration:none;
font-size:12px;
line-height:20px;
color:white;
}
.lgpg a:hover
{
color:darkgrey;
}
